<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playfull_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F76529FC2146420B00B0A0C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7652A102146420C00B0A0C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7652A1B2146420C00B0A0C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
